{% extends 'core/layout.html' %}

{%block title%}Blog{%endblock%}

{% block body %}
<div id="entradas">


    <section class="blog-head">
        <div class="titulo">
            <h2>
                BLOG
            </h2>
        </div>
    </section>

    <section class="news">
        <div class="container">
            <div class="row col-lg-12 subtitulo">
                <div class="col-lg-12">
                    <h2>NUESTRAS ENTRADAS</h2>
                </div>
            </div>

            <div class="row col-lg-12">
                {% load posts_extras %}
                {% get_post_list as post_list %}
                {% for post in post_list reversed %}
                <div class="col-lg-6">
                  <div class="card mb-4">
                    {% load static %}
                    <img class="card-img-top" height="300px" width="auto" src="{{ post.image.url }}" alt="Card image cap">
                    <div class="card-body">
                      <h2 class="card-title">{{post.title}}</h2>
                      <p class="card-text">{{post.content|safe|truncatechars:75}}</p>
                      <a href="{% url 'post' post.id %}"  style="margin-top: 20px;"class="btn btn-primary">Leer más &rarr;</a>
                    </div>
                  </div>
                </div>
          
              </div>
              {% endfor %}
        </div>
    </section>


</div>
{% endblock %}